[user]
	name = Matheus Oliveira Cruz
	email = moc@guardian-asset.com

[includeIf "gitdir:~/personal/"]
	path = ~/personal/.gitconfig

[includeIf "gitdir:~/.dotfiles/"]
	path = ~/.dotfiles/.gitconfig

[core]
	editor = nano

[init]
	defaultBranch = main

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	light = false
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
	main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
	fomo = !git fetch origin $(git main-branch) && git rebase origin/$(git main-branch) --autostash
[push]
	autoSetupRemote = true
[branch]
	autoSetupMerge = simple
