[user]
	name = Matheus Oliveira
	email = 31555284+araggohnxd@users.noreply.github.com

[includeIf "gitdir:~/projects/guardian/"]
	path = ~/projects/guardian/.gitconfig

[core]
	editor = nano

[init]
	defaultBranch = main

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	light = false
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[push]
	autoSetupRemote = true

[alias]
	main-branch = !git symbolic-ref refs/remote/origin/HEAD | cut -d'/' -f4
	fomo = !git fetch origin $(git main-branch) && git rebase origin/$(git main-branch) --autostash
